.bela {
    font-size: 80px;
    margin-top: 15%;
}

h2, h3, h4, h5 {
    font-family: 'Lora', serif;
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    font-family: 'Lora', serif;
    margin: -10px 0px 70px 0px;
}

.check-back-soon {
    margin-bottom: 30px;
}

@media (max-width: 768px){
    .col-md-6{
        padding: 0px 0px 0px 0px;
    }
}

@media (min-width: 1679px){
    .bela {
        margin-top: 10%;
    }
}